*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
fastlane/report.xml
/build
/captures
.externalNativeBuild
.cxx
local.properties
pns.jks
pns.signingconfig
play_store_auth.json
